streamlit
streamlit-option-menu
plotly
werkzeug
Flask
requests
tweepy
python-dotenv
schedule
cryptography
streamlit-calendar
pyotp
qrcode[pil]
streamlit-cropper
openai
fpdf2
pytrends
watchdog
gunicorn
